# Basic Settings
# NODE_ENV=development    #node environment: 'production', 'development', 'test'
# PORT=4000  #server running port


# Log settings
# LOG_LEVEL=dev      #Request logging : 'tiny', 'combined', 'short', 'dev', 'common'


# Security settings
# REQ_LIMIT=500  # Request limit
# REQ_TIMEFRAME=3000000  # Time frame in milliseconds
# HASHING_SALT_ROUND=  # default 10

# Database settings
# DATABASE_USER=  
# DATABASE_PASS=
# DATABASE_URL=
# DATABASE_NAME=


# mail settings
# MAIL_ENABLED=false # default true
# MAIL_HOST=smtp.gmail.com
# MAIL_USER=
# MAIL_PASS=
# MAIL_PORT=587
# MAIL_SECURE=false # default false
# MAIL_APP=ECOMMERCE
# MAIL_FROM=